altair
appnope
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fonttools
fpdf2
gitdb
GitPython
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
narwhals
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
six
smmap
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth